---
---

@import "{{ site.theme }}";

/* Wrapper */
.wrapper {
    width:1600px;
  }

section {
    width:1200px;
    float:left;
    padding-bottom:50px;
    padding-left: 300px;
  }

  @media print, screen and (max-width: 1580px) {

    div.wrapper {
      width:auto;
      margin:0;
    } 
  
    footer {
        border-top: 1px solid #ccc;
        margin:0 84px 0 50px; 
        padding:0;
    }
  
   
  
    section {
      width:1200px; 
      float:left;
      margin:0 0 20px;
      padding-left: 300px;
    } 
  
    header ul {
      position:static; 
    }
  }

  @media print, screen and (max-width: 1400px) {

    div.wrapper {
      width:auto;
      margin:0;
    } 
  
    footer {
        border-top: 1px solid #ccc;
        margin:0 84px 0 50px;
        padding:0;
    }
  
    
  
    section {
      width:900px; 
      float:left;
      margin:0 0 20px;
    } 
  
    header ul {
      position:static; 
    }
  }

  @media print, screen and (max-width: 1200px) {

    div.wrapper {
      width:auto;
      margin:0;
    } 
  
    footer {
        border-top: 1px solid #ccc;
        margin:0 84px 0 50px;
        padding:0;
    }
  
    
  
    section {
      width:600px; 
      float:left;
      margin:0 0 20px;
    } 
  
    header ul {
      position:static; 
    }
  }

@media print, screen and (max-width: 960px) {

    div.wrapper {
      width:auto;
      margin:0;
    }
  
    footer {
        border-top: 1px solid #ccc;
        margin:0 84px 0 50px;
        padding:0;
    }
  
    
  
    section {
      width: -moz-available; 
      float:left;
      padding:10px 0 10px 20px;
      margin:0 0 20px;
    }
  
    header a small {
      display:inline;
    }
  
    header ul {
      position:static; 
    }
  }
  
  @media print, screen and (max-width: 720px) {
    body {
      word-wrap:break-word;
    } 
      
    header {
      padding:10px 20px 0;
      margin-right: 0;
    }
  
    section {
      width: -moz-available;
      padding:10px 0 10px 20px;
      margin:0 0 30px;
    }

    header a small {
        display:inline;
      }
  
    footer {
        margin: 0 0 0 30px;
    }
  
    header ul, header p.view {
      position:static;
    }
  }
  
  @media print, screen and (max-width: 480px) {
  
    header, section, footer {
        padding:none;
        position:static;
        width: -moz-available;
      }
      
    header ul li.download {
      display:none;
    }
  
    footer {
        margin: 0 0 0 20px;
    }

    footer a{
        display:block;
    }

   header ul {
      position:static; 
    }
  }
  
  @media print {
    body {
      padding:0.4in;
      font-size:12pt;
      color:#444;
    }
  }
  
